<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FreeShippingThreshold" value="50"/>
		<add key="ShippingCost" value="15"/>
		<add key="DiscountThresholdAmount" value="150"/>
		<add key="MinimumOrdersForDiscount" value="3"/>
		<add key="OrderIntervalDays" value="30"/>
		<add key="OrderDiscountPercentage" value="10"/>
		<add key="MenuDiscountPercentage" value="15"/>
		<add key="OutOfStockThreshold" value="5"/>
	</appSettings>
	<connectionStrings>
		<add name="RestaurantDBMAP" connectionString="Host=localhost;Port=5432;Username=postgres;Password=mihaibd;Database=RestaurantDBMAP" providerName="Npgsql" />
	</connectionStrings>
</configuration>